<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>year</key>
		<integer>2015</integer>
		<key>month</key>
		<string>Jan.</string>
		<key>event</key>
		<string>Intern at liulishuo.com</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2014</integer>
		<key>month</key>
		<string>Apr.</string>
		<key>event</key>
		<string>Intern at eBay</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2014</integer>
		<key>month</key>
		<string>Feb.</string>
		<key>event</key>
		<string>Volunteer of FTC</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2014</integer>
		<key>month</key>
		<string>Jan.</string>
		<key>event</key>
		<string>Science and Technology Scholarship of Tongji University</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2013</integer>
		<key>month</key>
		<string>Nov.</string>
		<key>event</key>
		<string>Volunteer of SAP Future IT Leader Summit 2013</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2013</integer>
		<key>month</key>
		<string>Oct.</string>
		<key>event</key>
		<string>Training of &quot;Start Your Road at SAP&quot;</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2013</integer>
		<key>month</key>
		<string>Sep.</string>
		<key>event</key>
		<string>Chairman of Tongji Soccer Association</string>
	</dict>
	<dict>
		<key>year</key>
		<real>2013</real>
		<key>month</key>
		<string>Sep.</string>
		<key>event</key>
		<string>Assistant of &quot;Objective-C Language&quot; Course</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2013</integer>
		<key>month</key>
		<string>May.</string>
		<key>event</key>
		<string>Volunteer of &quot;Challenge Cup&quot;</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2013</integer>
		<key>month</key>
		<string>Apr.</string>
		<key>event</key>
		<string>Second Prize of &quot;Programming Contest&quot; in Tongji University</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2012</integer>
		<key>month</key>
		<string>Dec.</string>
		<key>event</key>
		<string>Silver Prize of &quot;IBM Master the Mainframe Contest China&quot;</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2012</integer>
		<key>month</key>
		<string>Nov.</string>
		<key>event</key>
		<string>Volunteer of &quot;Challenge Cup&quot;</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2012</integer>
		<key>month</key>
		<string>Sep.</string>
		<key>event</key>
		<string>Assistant of &quot;C Language&quot; Course</string>
	</dict>
	<dict>
		<key>year</key>
		<integer>2012</integer>
		<key>month</key>
		<string>Apr.</string>
		<key>event</key>
		<string>Second Prize of &quot;Programming Contest&quot; In Tongji University</string>
	</dict>
</array>
</plist>
